:root {
    --black: #000000;
    --light-grey: #F7F7F7;
    --dark-grey: #777777;
    --white: #FFFFFF;
    --radius: 16px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--light-grey);
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

/* Text 
Styles */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-VariableFont_wght.woff2") format("woff2");
    font-weight: 100 900;
    font-optical-sizing: auto;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-Italic-VariableFont_wght.woff2") format("woff2");
    font-weight: 100 900;
    font-optical-sizing: auto;
    font-style: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url("./fonts/Merriweather-VariableFont_opsz\,wdth\,wght.woff2") format("woff2");
    font-weight: 300 900;
    font-optical-sizing: auto;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url("./fonts/Merriweather-Italic-VariableFont_opsz\,wdth\,wght.woff2") format("woff2");
    font-weight: 300 900;
    font-optical-sizing: auto;
    font-style: normal;
    font-style: italic;
    font-display: swap;
}

body {
    padding: 20px;
}

/* Control 
Styles*/

.controls {
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}

.controls h2 {
    align-self: center;
    margin: 0;
    padding: 0;
}

#new-book-btn {
    all: unset;
    cursor: pointer;
    border-radius: 32px;
    padding: 12px 32px;
    background-color: var(--black);
    color: var(--white);
    font-family: 'Raleway';
    font-weight: 600;
}

dialog {
    align-self: center;
    justify-self: center;
    padding: 64px;
    border-radius: var(--radius);
    width: 540px;
    max-width: 100%;
    margin: 4px;
    border: none;
}

::backdrop {
    background-color: var(--black);
    opacity: 0.32;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    all: unset;
}

.dialog-form h2 {
    margin-bottom: 32px;
}

.field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
}

form label,
legend {
    width: 140px;
    margin: 0 8px;
    margin-bottom: 4px;
}

input[type="text"] {
    all: unset;
    border: 1px solid var(--dark-grey);
    background-color: var(--light-grey);
    border-radius: 8px;
    padding: 4px 8px;    
}

input[type="text"]:focus {
    border: 1px solid var(--black);
    background-color: var(--white);
}

.have-read {
    margin-bottom: 32px;
}

.select-opt {
    margin-left: 8px;
    width: 200px;
}

.form-btns {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

#cancel-book-btn {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 32px;
    padding: 12px 32px;
    border: 1px solid var(--black);
    background-color: var(--whiter);
    color: var(--black);
    font-family: 'Raleway';
    font-weight: 600;
}

#add-book-btn {
    all: unset;
    cursor: pointer;
    border-radius: 32px;
    padding: 12px 32px;
    background-color: var(--black);
    color: var(--white);
    font-family: 'Raleway';
    font-weight: 600;
}

/* Main 
Styles*/

.bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.book-card * {
    margin: 0;
    padding: 0;
}

.book-card {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: max-content 100px;
    gap: 8px;
}

.book-label {
    grid-row: 2;
}

.book-label h3 {
    font-size: 1.3rem;
    margin-bottom: 4px;
}

.book-label p {
    color: var(--dark-grey);
}

.book-tags {
    grid-column: 1 / span 2;
    display: flex;
    gap: 4px;
    justify-content: flex-start;
    align-items: center;
}

.book-tags .tag {
    border: 1px solid var(--dark-grey);
    background-color: var(--white);
    border-radius: 16px;
    padding: 6px 8px;

    font-size: 0.85rem;
}