:root {
    --light-grey: #cfcfcf;
    --dark-grey: #838383;
}

* {
    box-sizing: border-box;
}

/* Text 
Styles */

@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-VariableFont_wght.woff2") format("woff2");
    font-weight: 100 900;
    font-optical-sizing: auto;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-Italic-VariableFont_wght.woff2") format("woff2");
    font-weight: 100 900;
    font-optical-sizing: auto;
    font-style: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url("./fonts/Merriweather-VariableFont_opsz\,wdth\,wght.woff2") format("woff2");
    font-weight: 300 900;
    font-optical-sizing: auto;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url("./fonts/Merriweather-Italic-VariableFont_opsz\,wdth\,wght.woff2") format("woff2");
    font-weight: 300 900;
    font-optical-sizing: auto;
    font-style: normal;
    font-style: italic;
    font-display: swap;
}

.bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.book-card * {
    margin: 0;
    padding: 0;
}

.book-card {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: max-content 100px;
    gap: 8px;
}

.book-label {
    grid-row: 2;
}

.book-label h3 {
    font-size: 1.3rem;
    margin-bottom: 4px;
}

.book-label p {
    color: var(--dark-grey);
}

.book-tags {
    grid-column: 1 / span 2;
    display: flex;
    gap: 4px;
    justify-content: flex-start;
    align-items: center;
}

.book-tags .tag {
    border: 1px solid var(--light-grey);
    border-radius: 16px;
    padding: 4px 6px;

    font-size: 0.85rem;
}